.conatiner-404{
    text-align: center;
    color: whitesmoke;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.here-link{
    color: red;
    
}