
.main-container {
    background-color: rgb(186, 186, 206,0.3);
}

.title-container {

    text-align: center;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}