.loaderContainer{
    display: flex;
    justify-content: center;
    top: 0;
    height: 100vh;
    background-color: black;
}

.loaderContainer img {
    display: inline-block;
    margin: auto;
    width: 200px;
}