

.main-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10% 10%;
    border-radius: 0.25rem;
    min-height: 100vh;
    
    
    
}

.title-container {

    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.buttons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    justify-content: center;
    
}

